.competence-card-img {
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
  height: 100px;
  width: 110px;
  border-radius: 50%;
  background: $white;
  img {
    height: 35px;
    width: 100%;
    max-width: 100%;
  }
}

.competence-card {
  padding: 0 0 50px;
}

.competence-container {
  text-align: center;
  padding: 0 0 70px;
  @media screen and (min-width: $desktop) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
}
.competence-content {
  text-align: center;
  margin: 0 auto;
  max-width: 760px;
  padding: 0 0 20px;
}
.title-competences,
.competence-container,
.competence-content {
  text-align: center;
  background: $martinique;
  color: $white;
}
