.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    padding: 0 0 50px;
  }
}

.header-logo-link {
  height: auto;
  @media screen and (min-width: $desktop) {
    margin: 0 20px 0 0;
    max-width: 100%;
  }
}
.welcome-container {
  background-size: cover;
  background-position: center center;
}

.header-logo {
  max-height: 100%;
}

.welcome-content {
  color: $white;
}
.header-title,
.welcome-content {
  color: $white;
  max-width: 760px;
}
