.menu {
  padding: 55px 0 0;
}

.menu-main-nav-container {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform $animationDuration;
  will-change: transform;
  height: 100vh;
  width: 200px;
  font-size: 1.6rem;
  background: $torchRed;
  &.show {
    transform: translateY(0);
  }
}

.menu-toggle-container {
  display: flex;
  transition: background $animationDuration;
  top: 15px;
  z-index: 999;
  .menu-hamburger {
    width: 24px;
    height: 3px;
    background: $white;
    transition: height $animationDuration;
    &:after,
    &:before {
      display: block;
      content: ' ';
      width: 24px;
      height: 3px;
      background: $white;
      transition: transform $animationDuration;
    }
    &:before {
      transform: translateY(-5px);
    }
    &:after {
      transform: translateY(2px);
    }
  }
  &.on {
    .menu-hamburger {
      height: 0;
      &:after {
        transform: translateY(-5px) rotate(45deg);
      }
      &:before {
        transform:translateY(-2px) rotate(-45deg);
      }
    }
  }
}

.menu-item {
  transition: background 500ms ease;
  &:hover {
    background: rgba($white, 0.2);
  }
  a {
    display: block;
    padding: 15px;
    color: $white;
    text-decoration: none;
  }
}

.scroll-to-top {
  opacity: 0;
  bottom: 15px;
  transition: all 700ms ease;
  &.show {
    opacity: 1;
  }
}

.scroll-to-top-arrow {
  @extend %arrow;
  position: relative;
  top: 3px;
  transform: rotate(45deg);
}

.menu-toggle-container,
.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  height: 50px;
  width: 50px;
  background: rgba($black, 0.2);
  &:hover {
    cursor: pointer;
    background: $black;
  }
}
