*,
*::before,
*::after {
  box-sizing: inherit;
  /* avoid min-width: auto on flex and grid children */
  min-width: 0;
  min-height: 0;
}

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * 0.625);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body > script {
  display: none!important;
}

.img-responsive {
  width:100%;
  height: auto;
}

.container {
  padding: 0 10px;
  @media screen and (min-width: $desktop) {
    margin: 0 auto;
    max-width: 940px;
  }
}

body {
  font-family: $primaryFont;
  font-size: 1.6rem;
  color: $mineShaft;
}

h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  @media (min-width: $desktop) {
    font-size: 4rem;
  }
}

.title-slide {
  font-size: 3rem;
  padding: 120px 0 50px;
  margin: 0;
  text-align: center;
  @media (min-width: $desktop) {
    margin: 0;
  }
}

h3 {
  margin: 0;
  padding: 0 0 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
}

.wow {
  visibility: hidden;
}

h4,
h5,
p {
  padding: 0 0 20px;
}