// couleurs
$mineShaft: #333;
$torchRed: #FF003F;
$white: #FFF;
$black: #000;
$concrete: #F3F3F3;
$moonMist: #E3E3D5;
$martinique: #37315B;
$mineShaft: #2B2B2B;
$redRibbon: #e80041;
$torchRed: #ED0036;

// polices
$primaryFont: 'Avenir-Bold', sans-serif;

// breakpoint
$desktop: 990px;

// animation
$animationDuration: 300ms ease;