.welcome-container {
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.welcome-content {
  @media screen and (max-width: $desktop) {
    margin: 0 auto;
    max-width: 720px;
  }
}

.header-arrow-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-arrow {
  position: relative;
  @extend %arrow;
  transform: rotate(-135deg);
  top: 0;
  transition: top $animationDuration;
  &:hover {
    top: 5px;
  }
}