.title-contact {
  padding: 120px 0 50px;
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  .field,
  .textarea {
    padding: 0 0 20px;
    width: 100%;
  }
}

.buttons {
  text-align: right;
  width: 100%;
  button {
    font-family: $primaryFont;
    padding: 15px 45px;
    background-color: $redRibbon;
    border: none;
    color: $white;
    font-size: 1.6rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      cursor: pointer;
    }
  }
}

.textarea,
.field {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
  width: 300px;
}

.container-contact {
  text-align: center;
  padding: 0 10px;
}

label {
  text-align: right;
  width: auto;
}

.container-contact,
.title-contact {
  background: $mineShaft;
  color: $white;
}

form {
  margin: 0 auto;
  padding: 0 0 120px;
  max-width: 300px;
  @media screen and (min-width: $desktop) {
    max-width: 500px;
  }
}

.error {
  grid-column: 2;
  color: $torchRed;
}

.content-contact {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 760px;
  padding: 0 0 20px;
}
