.container-portfolio {
  padding: 0 10px 120px;
  img {
    max-width: 100%;
    flex-grow: 2;
  }
}

.grid-container-porfolio {
  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.title-portfolio,
.container-portfolio {
  background: $concrete;
}

.card-title-portfolio {
  font-size: 1.7rem;
  padding: 16px;
  background: $moonMist;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  @media screen and (min-width: $desktop) {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
    background-color: inherit;
  }
}

.card-image-portfolio {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  width:300px;
  padding: 0;
  &:before {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 0.3s ease;
      background: $white;
    }
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    @media screen and (min-width: $desktop) {
      .card-title-portfolio {
        display: block;
        opacity: 1;
      }
      &:before {
        opacity: 0.9;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    position: relative;
    margin: 0;
    &:nth-child(even) {
      justify-self: start;
    }
    &:nth-child(odd) {
      justify-self: end;
    }
  }
}
